button {
    display: inline-block;
    height: 42px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 204px;
}

#close-image img {
    display: block;
    height: 42px;
    width: 204px;
}


#search {
    margin-right: 500px;
}

#my-movies {
    padding-left: 180px;
}

#mobileSearch {
    padding-left: 10px !important;
}

.brand-logo {
  position: absolute;
  margin-right: 1px;
  left: 5px;
}

