button {
    display: inline-block;
    height: 42px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 204px;
}

#close-image img {
    display: block;
    height: 42px;
    width: 204px;
}

#search {
    margin-right: 500px;
}

#my-movies {
    padding-left: 180px;
}

#mobileSearch {
    padding-left: 10px !important;
}

.brand-logo {
  position: absolute;
  margin-right: 1px;
  left: 5px;
}

.myBoards {
    display: flex;
}

#rivetIt{
    margin-top:10px;
    border-top: 1px solid lightgray;
    padding-top:10px;
}
.loginTable{
    border: #F12819 3px solid;
    border-radius: 20px;
    padding: 40px;
    margin:20px auto;
}

input.loginInput{
    background: white;
}

.waves-effect.waves-light.btn-large{
    background: #0D2953;
    width: 400px;
}

.waves-effect.waves-light.btn-large:hover{
    background: #D17451;
}

.userImage{
    width: 200px;
}

.headingTitle{
    margin: 40px;
}

.nav-wrapper, .page-footer{
    background: #BD081C;
}
.brand-logo.left img{
    width: 130px;
}
