body {
    background: #FDC316;
}

button {
    display: inline-block;
    height: 42px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 204px;
}

#close-image img {
    display: block;
    height: 42px;
    width: 204px;
}

#search {
    margin-right: 500px;
}

#my-movies {
    padding-left: 180px;
}

#mobileSearch {
    padding-left: 10px !important;
}

.brand-logo {
    position: absolute;
    margin-right: 1px;
    left: 5px;
}

.myBoards {
    display: flex;
}

#rivetIt {
    margin-top: 10px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.loginTable {
    background: white;
    border: #F12819 3px solid;
    border-radius: 20px;
    padding: 40px;
    margin: 20px auto;
}

input.loginInput {
    background: white;
    border: none;
}

.waves-effect.waves-light.btn-large {
    background: #0D2953;
    width: 400px;
}

.waves-effect.waves-light.btn-large:hover {
    background: #D17451;
}

.userImage {
    width: 200px;
    margin-top: 50px;
    border: 3px solid #C30029;
    border-radius: 100px;
}

.headingTitle {
    margin: 40px;
}


.nav-wrapper, .page-footer{
    background-image: url('../app/assets/images/polk.png');
    background-repeat: repeat;
}

.nav-Btn {
    background: #BD081C;
}

.brand-logo.left img {
    margin: 20px;
    width: 180px;
}

#copy-footer {
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
    background: #BD081C;
    text-align: center;
    width: 370px;
}

.tags {
    color: blue;
    font-weight: bold;
    font-size: .8em;
    font-style: italic;
}

.card{
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

#deleteStuff{
    display: block;
    /* float: right; */
    margin-top: 30px;
}

.card-content{
    text-align: center;
}