
<!-- <div id="modal1" class="modal"> -->
<!-- <div class="modal-content"> -->
  <h3>{{title}}</h3>
  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="title here" id="title" type="text" class="validate" ng-model="board.title">
   
          </div>
          <div class="input-field col s12">
              <input placeholder="Enter a board description" id="description" type="text" class="validate" ng-model="board.description">
     
            </div>
            <div class="input-field col s12">
                <input placeholder="Add Image URL" id="image" type="text" class="validate" ng-model="board.image">
              
              </div>
          </div>
          <a class="waves-effect waves-light btn" class="btn btn-default" ng-click="submitBoard()" class="btn" onclick="Materialize.toast('New Board Created!', 3000)">{{submitButtonText}}</a>
          <a class="waves-effect waves-light btn" class="btn btn-default" href="#!/board-view">Cancel</a>
          </form>
  <!-- </div> -->
</div>
<!-- </div> -->