<div>
    <!-- logo -->
    <h4>Welcome</h4>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Email" type="text" autofocus="true" ng-model="account.email">
                </div>
                <div class="input-field col s6">
                    <input placeholder="Password" type="password" ng-model="account.password">

                </div>
            </div>
        </form>
    </div>
    <!-- register button -->
    <a ng-click="register()" class="waves-effect waves-light btn-large">Register</a>
    <button ng-click="login()" class="waves-effect waves-light btn-large">Login</button>
    <p>OR</p>
    <!-- button continue with google -->
    <!-- button login -->
    <div class="col-xs-6">
        <a href="#" ng-click="loginGoogle()"><img src="app/assets/images/googleLogin.png"></a> 
        <!-- <button ng-click="loginGoogle()" class="btn btn-info">Sign In</button> -->
    </div>
</div>