<div>
    <!-- logo -->
    <h4>Welcome</h4>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Email" id="email" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input placeholder="Password" id="password" type="text" class="validate">

                </div>
            </div>
        </form>
    </div>
    <!-- register button -->
    <a class="waves-effect waves-light btn-large">Register</a>

    <p>OR</p>
    <!-- button continue with google -->
    <!-- button login -->
</div>