<nav ng-controller="navCtrl">
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            <a href="#!" class="brand-logo left">Logo</a>
            <li><input type="text" class="form-control" placeholder="Search" ng-model="searchText.search"></li>
            <li><a ng-show="isLoggedIn" ng-href="#!/item-list">Show All</a></li>
            <li><a ng-show="isLoggedIn" ng-href="#!/item/newItem">Add Task</a></li>
            <li><a ng-show="!isLoggedIn">Login</a></li>
            <li><a ng-show="isLoggedIn" ng-click="logout()">Logout</a></li>
        </ul>
        <!-- <i class='dropdown-button material-icons show-on-medium-and-down hide-on-med-and-up right' data-beloworigin="true" href='#'
            data-activates='dropdownMobile'>menu</i>
        <a href="#!" class="brand-logo show-on-medium-and-down hide-on-med-and-up left">Logo</a>
        <ul id="dropdownMobile" class="right nav__links dropdown-content">
            <li><a ng-show="isLoggedIn" ng-href="#!/item-list">User Profile</a></li> -->
            <!-- <li><a ng-show="isLoggedIn" ng-href="#!/item/newItem">Add Task</a></li> -->
            <!-- <li><a ng-show="!isLoggedIn">Login</a></li>
            <li><a ng-show="isLoggedIn" ng-click="logout()">Logout</a></li>
        </ul> -->
    </div>
</nav>