<h4>BOARD: {{allBoardPinsName}}</h4>
NEED TO ADD PINS ASSOCIATED WITH THIS BOARD ID
<div class="row">
        <div class="col s12 m4">
            <div class="card-panel hoverable card">
                <div class="card-image">
                    <!-- <img src="images/sample-1.jpg"> -->
                </div>
                <div class="card-content">
                    <span class="card-title">ADD A NEW BOARD</span>
                    <a href="#!/add-pin" ><img src="app/assets/images/2000px-Ambox_plus.svg.png"></a>
                </div>
            </div>
        </div>
    <!-- </div>
    <div class="row"> -->
        <div class="col s12 m4" ng-repeat="item in allBoardPins">
            <div id="" class="card-panel hoverable card">
                <div class="card-image">
                    <img ng-src="{{item.img}}">
                    <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
                </div>
                <div class="card-content">
                    <span class="card-title">{{item.title}}</span>
                    <p>{{item.description}}</p>
                    <p><a href="{{item.url}}" target="_blank">Visit the Website</a></p>
                    <!-- <div id="rivetIt"><a href=""><i class="material-icons">settings</i>Add A Rivet!</a></div> -->
                </div>
            </div>
        </div>
    </div>