<div class="row">
    <div class="col s8" ng-repeat="item in userDeets">
        <h4>{{item.userName}}</h4>
    </div>
    <div class="col s4" ng-repeat="item in userDeets">
        <div id="userPic"><img ng-src={{item.userPhoto}}></div>
    </div>
</div>

<div class="row">
    <div class="col s12 m4">
        <div class="card-panel hoverable card">
            <div class="card-image">
                <!-- <img src="images/sample-1.jpg"> -->
            </div>
            <div class="card-content">
                <span class="card-title">ADD A NEW BOARD</span>
                <a href="#!/add-board" ><img src="app/assets/images/2000px-Ambox_plus.svg.png"></a>
            </div>
        </div>
    </div>
<!-- </div>
<div class="row"> -->
    <div class="col s12 m4" ng-repeat="item in boards">
        <div id="" class="card-panel hoverable card">
            <div class="card-image">
                <img ng-src="{{item.image}}">
                <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
            </div>
            <div class="card-content">
                <span class="card-title">{{item.title}}</span>
                <p>{{item.description}}</p>
                <div id="rivetIt"><a href="#!/board/{{item.id}}"><i class="material-icons">settings</i>Add A Rivet!</a></div>
            </div>
        </div>
    </div>
</div>

<!-- <div>
<section class="myBoards">
    <article>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                    <div class="col-xs-6">
                            <a href="#modal1"><img src="https://www.clker.com/cliparts/6/z/Y/C/2/s/orange-plus-sign.svg"></a>  -->
<!-- <button ng-click="loginGoogle()" class="btn btn-info">Sign In</button> -->
<!-- </div>
              <img ng-src="" src="{{img.url}}">
              <span class="card-title">{{pin.title}}</span> -->
<!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
<!-- </div>
            <div class="card-content">
              <p>{{pin.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

<section class="myBoards">
    <article>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img ng-src="" class="activator" src="{{img.url}}">
            </div>
            <div class="card-content">
                <span ng-model="board.title" class="card-title activator grey-text text-darken-4">{{board.title}}<i class="material-icons right">more_vert</i></span> -->
<!-- <a ng-click="submitBoard()" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
<!-- <p><a ng-show="" href="#">{{img.url}}</a></p> -->
<!-- <img src="https://target.scene7.com/is/image/Target/14549690?wid=520&hei=520&fmt=pjpeg" alt="yes!">
            </div>
            <div class="card-reveal">
                <span ng-model="board.title" class="card-title grey-text text-darken-4">{{board.title}}<i ng-click="submitBoard()" class="material-icons right">close</i></span>
                <p>{{board.title}}</p>
            </div>
        </article>
    </section>

    <section class="myBoards">
            <article>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img ng-src="" class="activator" src="{{img.url}}">
                    </div>
                    <div class="card-content">
                        <span ng-model="board.title" class="card-title activator grey-text text-darken-4">{{board.title}}<i class="material-icons right">more_vert</i></span> -->
<!-- <a ng-click="submitBoard()" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
<!-- <p><a ng-show="" href="#">{{img.url}}</a></p> -->
<!-- <img src="https://www.lorrihafer.com/assets/images/Something_Cool1.jpg" alt="yes!">
                    </div>
                    <div class="card-reveal">
                        <span ng-model="board.title" class="card-title grey-text text-darken-4">{{board.title}}<i ng-click="submitBoard()" class="material-icons right">close</i></span>
                        <p>{{board.title}}</p>
                    </div>
                </article>
            </section>
</div>
     -->