<section class="my-boards" ng-controller="BoardsController" ng-init="init()">
  <article>
    <div class="row">
      <div class="col s12 m3" ng-repeat="board in boards">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="https://target.scene7.com/is/image/Target/14549690?wid=520&hei=520&fmt=pjpeg" alt="we can do it">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              {{ board.title }}
              <i class="material-icons right">more_vert</i>
            </span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              {{ board.title }}
              <i class="material-icons right">more_vert</i>
            <p>{{ board.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
