<section>
  <article>
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img ng-src="" class="activator" src="{{img.url}}">
      </div>
      <div class="card-content">
        <span ng-model="board.title" class="card-title activator grey-text text-darken-4">{{board.title}}<i class="material-icons right">more_vert</i></span>
        <a ng-click="submitBoard()" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        <p><a ng-show="" href="#">{{img.url}}</a></p>
      </div>
      <div class="card-reveal">
        <span ng-model="board.title" class="card-title grey-text text-darken-4">{{board.title}}<i ng-click="submitBoard()" class="material-icons right">close</i></span>
        <p ng-model="">{{board.title}}</p>
      </div>
  </article>
</section>

<section>
  <article>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img ng-src="" src="{{img.url}}">
            <span class="card-title">{{pin.title}}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>{{pin.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
